# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
.parcel-cache
*.local

# Unused files created by the artifact scaffold; not part of BKK/FLOW.
components.json
public/
src/assets/
src/components/ui/
src/hooks/
src/lib/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
